appnope
backports-abc
backports.ssl-match-hostname
certifi
cycler
decorator
entrypoints
enum34
gnureadline
ipykernel
ipython
ipython-genutils
Jinja2
jupyter-client
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
path.py
pathlib2
pexpect
pickleshare
pkg-resources
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyzmq
scipy
simplegeneric
singledispatch
terminado
tornado
traitlets
patsy
statsmodels
